#
# Config file for dev environment
# 
# IDA-dev app registration
CFG_IDA_CLIENT_ID="bd4b0a3e-af88-4b7c-aab2-ad4956f2f789"
CFG_IDA_SECRET_NAME="AzureAd--ClientSecret"
# Resource group and key vault name for key vault secret injection.
CFG_RESOURCE_GROUP="IDA-dev"
CFG_VAULT_NAME="ida1-dev"

# Storage account
CFG_STORAGE_ACCOUNT_NAME_RAW="storageraw1dev"
CFG_STORAGE_ACCOUNT_NAME_ANON="storageanon1dev"
CFG_STORAGE_ACCOUNT_NAME_VIS="storagevis1dev"

# connection strings names for storage accounts, as saved in the key vault:
CFG_CONNECTION_STRING_RAW_NAME="connectionStringRawStorage"
CFG_CONNECTION_STRING_ANON_NAME="connectionStringAnonStorage"
CFG_CONNECTION_STRING_VIS_NAME="connectionStringVisStorage"
