#
# Config file for staging environment
# 
# IDA-staging app registration
CFG_IDA_CLIENT_ID="6f40ba9b-2029-400e-85e9-f1922cbf12c1"
CFG_IDA_SECRET_NAME="AzureAd--ClientSecret"

# Resource group and key vault name for key vault secret injection.
CFG_RESOURCE_GROUP="IDA-staging"
CFG_VAULT_NAME="ida1-staging"
